h1 {
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    font-weight: 900;
    font-family: Copperplate;
    border-style: groove;
    border-width: thick;
    border-color: lightskyblue;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-left: 500px;
    margin-right: 500px;
}
h2,
p,
body,
li,
ol {
    text-align: center;
}
span {
    font-weight: bold;
}
p {
    color: rgba(21, 153, 177, 0.781);
}
body {
    background-color: #6d456ef1;
}
a:link,
a:visited {
    text-decoration: none;
    color: brown;
}
a:hover {
    background-color:  rgba(139, 175, 41, 0.829);
}
#myCanvas {
    border-style: solid;
    background-color: tan;
}

h3 {
    text-align: center;
    color: rgb(247, 119, 0)
}

nav {
    text-align: center;
}